h1,h2,h3,p{
    font-family: 'Inter',sans-serif;
}
.secao1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.secao1__texto{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    
}
.secao1__texto__titulo{
    font-size: 22px;
    margin: 0;
}
.secao1__texto__subtitulo{
    font-size: 8px;
    margin: 0;
    color: brown;
}
.secao1__texto__texto{
    font-size: 10px;
    padding: 0em 15em;
    color: gray; 
    margin: 0;
}
.secao1__itens__lista{
    display: flex;
    justify-content: space-around;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 3em 0em;
    
}
.secao1__itens__lista__item{
    margin: 0;
    padding: 0em 1.8em;
}
.secao1__itens{
    
}
.secao1__itens__titulo{
    font-family: 'Inter',sans-serif;
    margin: 0;
    text-align: start;
    color: brown;
}
.secao1__itens__subtitulo{
    margin: 0;
    font-size: 10px;
    font-family: 'Inter',sans-serif;
    text-align: start;
}
.secao1__itens__lista__item__texto{
    font-size: 8px; 
    margin: 0;
    text-align: start;
}